 html,body,h1,h2,ul,li,a,figure {
     margin: 0;
     padding: 0;
     font-family: Calibri, Arial, Helvetica, sans-serif;
 }



 header {
     background-color: #2A3C2F;
     padding-left: 50px;
     padding-top: 7px;
     padding-bottom: 7px;
     height:250px;
 }

 header img {
     width: 250px;
     height: 250px;
     display: inline-block;
     vertical-align: middle;
 }

 .nombre-empresa {
     color: #D0CAAF;
     font-size: 35px;
     font-weight: bold;
     padding-left: 15px;
     display: inline-block;
     vertical-align: middle;
 }

 