 html,body,h1,h2,ul,li,a,figure {
     margin: 0;
     padding: 0;
     font-family: Calibri, Arial, Helvetica, sans-serif;
 }

header {
  background-color: #2A3C2F;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 7px;
    padding-bottom: 7px;
    height: 250px;
    position: relative;
}
header img {
    width: 250px;
    height: 250px;
    display: inline-block;
    vertical-align: middle;
}

.nombre-empresa {
    color: #D0CAAF;
    font-size: 35px;
    font-weight: bold;
    padding-left: 15px;
    display: inline;
}

nav {
    display: inline-block;
    vertical-align: middle;
    width: 1000px;
    text-align: right;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    font-size: 20px;
    color: #D0CAAF;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 15px;
}

nav ul li a:hover {
    color: #ffffff;
}

 /* mi imagen principal*/
 .imagen-principal {
     margin-bottom: 20px;
     margin-top: 30px;
     padding: 40px;
 }


 .imagen-principal img {
     width: 100%;
     height: 460px;
 }


 .seccion-info {
     margin-top: 50px;
     margin-bottom: 20px;
     margin-left: 30px;
     margin-right: 30px;
     padding: 30px;
 }


 .imagen-gerente {
     width: 230px;
     height: 230px;
     margin-right: 50px;
 }

 .datos-empresa {
      display: inline-block;
 }

 .datos-empresa p {
     font-size: 18px;
     font-weight: bold;
 }

 .datos-empresa p span {
     font-weight: normal;
 }

 .seccion-imagen-rep {
     margin-top: 20px;
     padding: 40px;
 }


 .imagen-tienda {
     width: 100%;
     height: 320px;
 }

 footer {
     background-color: #2A3C2F;
     color: #ffffff;
     text-align: center;
     font-size: 20px;
     padding-top: 25px;
     padding-bottom: 25px;
     margin-top: 30px;
 }

@media screen and (max-width: 650px) {

    header {
        height: auto;
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
    }

    header img {
        width: 150px;
        height: 150px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .nombre-empresa {
        display: block;
        text-align: center;
        padding-left: 0;
        font-size: 25px;
    }

    nav {
        display: block;
        width: auto;       
        text-align: center;
    }

    .imagen-principal img {
        height: 200px;
    }

    .seccion-info {
 
        padding: 10px;
    }

    .imagen-gerente {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 150px;
        height: 150px;
    }

    .datos-empresa {
        display: block;
        margin-top: 15px;
    }

    .datos-empresa p {
        font-size: 15px;
        margin-bottom: 15px;
    }

    .seccion-imagen-rep {
        margin-left: 0;    
        margin-right: 0;   
        padding: 10px;
    }

    .imagen-tienda {
        height: 180px;
    }

}

